@page "/"
@inject NavigationManager NavigationManager

<div class="d-flex justify-content-between align-items-center">
    <h2>Content editable</h2>
    <div class="d-flex align-items-center">
        <a href="https://github.com/austineric/BlazorContentEditable" class="pr-2"><img src="https://raw.githubusercontent.com/austineric/StaticAssets/master/GitHub-Mark-32px.png" /></a>
        <a href="https://github.com/austineric/BlazorContentEditable">View on GitHub</a>
    </div>
</div>

<BlazorContentEditableComponent @bind-Value="Text" CSSClass="form-control" />

<br />
<br />

<h2>Blazor receiving content editable text</h2>
<pre>@Text</pre>

@code {

    private string Text { get; set; }

    protected override void OnInitialized()
    {
        Text = $"Welcome to BlazorContentEditable!{Environment.NewLine}" +
            $"Features:{Environment.NewLine}" +
            $"- Automatically sizes to prefilled text{Environment.NewLine}" +
            $"- Automatically sizes to to text as it's typed{Environment.NewLine}" +
            $"- https://github.com/austineric/BlazorContentEditable";
    }

}